<div class="container">

	<h1>New Employee!</h1>

	<%= form_for(@employee) do |f| %>
	
	  <%= f.fields_for :employee_profile do |profile_fields|  %>
	  <br>
	  <ul class="inline">
	    <li><%= profile_fields.label :name %></li>
	    <li><%= profile_fields.text_field :name %></li>
	</ul>
	
  <div class="input-append">
	   <span class="add-on">
	  <%= profile_fields.label :height %>
	  </span>
	  <%= profile_fields.text_field :height %>
	  <span class="add-on">cm</span>
  </div>
  <br>
  <div class="input-append">
	   <span class="add-on">
		   age
	  </span>
	  <%= profile_fields.select :age, options_for_select( ages ) %>
	  <span class="add-on">years</span>
  </div>

	
	
	  <% end %>
	
	
	  <ul class="inline">
		  <li>Supervisor</li>
		  <li><%= f.collection_select( :supervisor_id,   Employee.all, :id, :name ) %>
	  </ul>
	
	  <%= f.submit "Create Employee"%>
		
	<% end %>

</div>