<!DOCTYPE html>
<html>
<head>
  <title>EmployeeDB</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
	  <% flash.each do |key, value| %>
	      <div class="alert alert-<%= key %>"><%= value %></div>
	  <% end %>
	<div class="navbar">
	  <div class="navbar-inner">
	    <a class="brand" href="#">Links</a>
	    <ul class="nav navbar-inverse">
			<li><%= link_to "Employees", employees_path %></li>
			<li><%= link_to "Teams", teams_path %></li>
				
			    </ul>
			   </div>
			 </div>
			

	</div>
	
<div class="well">
	<%= yield %>
</div>
</div>
</body>
</html>
